@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
body{
    font-family: Roboto;
    background: linear-gradient(90deg, #757575 0%, #000000 100%);
}
.navbar .navbar-nav .nav-link.active{
    color: #050505;
}
.navbar .navbar-nav .nav-link{
    color: rgb(0, 0, 0);
}
.navbar-brand img{
    width: 40px;
}
.navbar-toggler{
    background-color: rgb(0, 0, 0);
}
.nav-right{
    color: rgb(0, 0, 0);
    background: linear-gradient(-90deg, #000000 0%, #050505 100%);
}
.card-body a{
    text-decoration: none;
    color: #383737;
}
.slide-text{
    color: rgb(255, 255, 255);
    margin: auto auto;
}
footer, 
.btn-outline-primary{
    background: linear-gradient(-90deg, #4e4e4e 0%, #050505 100%);
}
.footer-text{
    color: rgb(250, 169, 169);
    margin: auto auto;
}
.footer-text a{
    text-decoration: none;
    color: #050505;
}

@media(max-width: 750px){
    .carousel-indicators{
        display: none;
    }
}
p{
    color: #383737;
}
.phone-anime{
    animation: myAnim 2s ease 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 0;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}
.img11{
	width: 600px;
	height: 300px;
}
.immgg22{
	width: 300px;
	height: 200px
}