.bg-video{
width: 100%;
height: 70vh;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.bg-video video{
width: 100%;
height: 70vh;
position: absolute;
object-fit: cover;

z-index: 1;
}.video-text{
    z-index: 2;
     color: rgb(255, 255, 255);
}